/* Base styles for mobile-first */
.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 6px;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .movie-list {
    flex-wrap: wrap;
    gap: 24px 24px;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .movie-list {
    gap: 24px 24px;
  }
}
