/* Base styles for mobile-first */
.movie-item {
  width: calc((100% - 12px) / 3);
  height: 100%;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .movie-item {
    width: calc((100% - 48px) / 3);
    height: 425px;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .movie-item {
    width: calc((100% - 96px) / 5);
    height: 425px;
  }
}
